@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #13151a;
  color: #ffffff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
